{%
    set storyTitle = 'Our Short Story'
  %}
  
  <section class="section story">
    <div class="container container--story">
      <div class="story__description-wrap">
        <h2>{{ storyTitle }}</h2>
        <p class="story__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.
        </p>
        <p class="story__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.
        </p>
  
        <button class="btn btn--primary story__button">More about our team</button>
      </div>
    </div>
  </section>