{%
    set experienceTitle = 'Our experience'
  %}
  
  <section class="section experience">
    <div class="container container--experience">
      <div class="experience__description-wrap">
        <h2>{{ experienceTitle }}</h2>
        <p class="experience__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.
        </p>
        <p class="experience__description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam volutpat purus in ferment uectetur tortor id, pharetra lorem.
        </p>
  
        <button class="btn btn--primary experience__button">View case studies</button>
      </div>
    </div>
  </section>